<div class="card" style="width: 18rem;">
    <div class="card-title">Xamarin Forms Course</div>
    <div class="card-text">The best Xamaring Forms Course</div>
    <a href="#" class="btn btn-primary">Go to Course</a>
</div>